{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Offer list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Datemaxvalidityoffer</th>
                <th>Content</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('offer_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.title }}</td>
                <td>{% if entity.dateMaxValidityOffer %}{{ entity.dateMaxValidityOffer|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.content }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('offer_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    {% if is_granted('ROLE_COMPANY') %}
                    <li>
                        <a href="{{ path('offer_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                    {% endif %}
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        {% if is_granted('ROLE_COMPANY') %}
        <ul>
        <li>
            <a href="{{ path('offer_new') }}">
                Create a new entry
            </a>
        </li>

        </ul>
        {% endif %}
    {% endblock %}
